
/* Common */
*{
    margin: 0;padding: 0;box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}

section{
    margin-top: 150px;
}

img{
    max-width: 100%;
}

/* Colors */
:root{
    --trial: rgba(0, 97, 255, 1);
    --lightgray: rgba(245, 245, 245, 1);
}

.bg-lightgray{
    background-color: var(--lightgray);
}

/* #region Utility */

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.inline{
    display: inline-block;
}

.min-width-650{
    min-width: 650px;
}


.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.p-relative{
    position: relative;
}

.m-left{
    margin-left: 40px;
}

.m-bot-2{
    margin-bottom: 2rem;
}

.col-20{
    width: 20%;
    float: left;
}

.col-30{
    width: 30%;
    float: left;
}

.col-32{
    width: 32%;
    float: left;
}

.col-40{
    width: 40%;
    float: left;
}

.col-45{
    width: 45%;
    float: left;
}

.col-50{
    width: 50%;
    background-color: rgba(255, 0, 0, 0.459);
    float: left;
}

.col-55{
    width: 55%;
    float: left;
}

.col-100{
    width: 100%;
    float: left;
}

.m3-right{
    margin-right: 2%;
}

.plans-margin{
    margin-left: 2%;
    margin-right: 2%;
}

.m-top40{
    margin-top: 40px;
    border: 1px solid rgba(230, 230, 232, 1);
}

.height400{
    height: 400px;
}

.height-full{
    height: 100%;
}

/* #endregion */

/* #region Hover */
.free-trial:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.days-30:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.table-layout:hover,
.m-top40:hover{
    transform: scale(1.05);
    border: 1px solid var(--trial);
    box-shadow: 1px 1px 2px var(--trial);
    border-radius: 2px;
}

.sub-menu-hover:hover>a{
    font-weight: bold;
    background-color: 
    rgba(242, 238, 232, 1);
    padding: 30px 10px;
}

.sub-menu-hover:hover div{
    display: inherit;
}

.sub-menu:hover{
    display: block;
}

/* #endregion */

/* Header */

.nav-left a,
.nav-right a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    vertical-align: middle;    
}

.nav-left,
.nav-right{
    width: 50%;
    float: left;
    padding: 20px;
}

#logo{
    vertical-align: middle;
}

.nav-right a:last-child>span{
    color: white;
    background-color:var(--trial);
    padding: 4px 15px;
}

.sub-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 40px;
    background-color: rgba(242, 238, 232, 1);
    border-radius: 5px;
}

.sub-menu ul{
    padding: 40px 0px 30px 40px;
    list-style: none;
    float: left;
}

.sub-menu ul>li:first-child{
    font-weight: bold;
    margin-bottom: 15px;
}

.sub-menu ul li:not(:first-child){
    margin-bottom: 7px;
}

/* Main */

.hero{
    height: 800px;
    background-color: rgba(180, 208, 231, 1);
}

.hero-container{
    width: 85%;
    margin: 0 auto;
}

.hero-container>h1{
    font-size: 90px;
    padding-top: 60px;
}

.hero-paragraph{
    width: 25%;
    float: left;
    font-weight: 500;
    margin: 40px 140px 0px 0px;
}

.free-trial{
    color: white;
    display: inline-block;
    background-color: var(--trial);
}

.free-trial-pm{
    padding: 10px 20px;
    margin: 30px 0px 15px 0px;
}

.hero-paragraph i{
    margin-top: 30px;
    font-size: 2.5rem;
}

.hero-img{
    width: 60%;
    float: left;
    margin-top: 40px;
}

#hero-img{
    height: 550px;
}

.hero-paragraph a{
    color: black;
}

.sm-container{
    width: 65%;
    margin: 0 auto;
}

.payments{
    padding: 25px 0px 25px 0px;
}

.payments>h2{
    font-size: 2rem;
    margin-bottom: 40px;
}

.payments>span:first-of-type{
    padding-right: 15px;
}

.payments label{
    margin-right: 20px;
}

input[type="radio"] {
    appearance: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 6px;
    background-clip: content-box;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-color: #e7e6e7;
    border-radius: 50%;
    vertical-align: sub;
}

input[type="radio"]:checked {
    border: 5px solid var(--trial);
}

/* #region Plans Layout (table) */
.table-layout{
    margin: 0 auto;
    font-size: 0.9rem;
    border: 1px solid rgba(230, 230, 232, 1);
    padding-bottom: 20px;
    min-height: 920px;
}

.table-layout ul{
    list-style: none;
}

.table-main,
.table-footer{
    padding: 20px 60px 0px 60px;
}

.table-header{
    text-align: center;
    padding: 10px 0px;
    border: 1px solid rgba(230, 230, 232, 1);
}
.days-30{
    background-color: var(--trial);
    color: white;
    width: 100%;
    text-align: center;
    padding: 8px 0px;
    margin: 40px 0px 20px 0px;
}

.table-main>p{
    font-weight: bold;
    margin: 15px 0px 10px 0px;
}

.col-30>.table-main>span{
    font-style: italic;
}

.table-main>ul{
    margin-top: 30px;
}

.table-main>ul>li,
.table-footer>ul>li{
    margin: 20px 0px ;
}

.table-footer>ul>li,
.table-main>ul>li{
    position: relative;
}

.table-footer>ul>li i,
.table-main>ul>li i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.table-footer>ul>li span,
.table-main>ul>li span{
    display: block;
    text-indent: -20px hanging;
    padding-left: 20px;;
}

.table-footer>div:first-child{
    width: 20%;
    opacity: 0.5;
    margin-bottom: 40px;
}

.table-footer>ul>li>i{
    color: var(--trial);
}

.col-100>.table-main>div{
    padding: 25px 0px;
}

.col-100 .free-trial{
    padding: 10px 80px;
    position: absolute;
    top: 20px;
    right: 40px;
}
/* #endregion */


/* #region Partner-img */
#partner-img{
    width: 95%;
}

.partner-text{
    margin: 50px 0px 0px 30px;
}

.partner-text>h2{

    font-size: 2rem;
    margin-bottom: 2rem;
}

.partner-text>p{
    line-height: 1.5rem;
}

.partner-text>span{
    border: 1px solid black;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
}

/* #endregion */


/* #region Dropbox Business */

.business-text>h3{
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.business-h2{
    font-size: 2rem;
}

.business-img{
    margin-top: 2rem;
}

.business-teams{
    margin-bottom: 3rem;
}


/* #endregion */

/* #region Teams */

.teams{
    aspect-ratio: 1 / 1;
}

.teams>img{
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(328deg) brightness(108%) contrast(101%);
}

.teams-style-1{
    background-color: rgba(162, 211, 155, 1);
    border: 10px solid rgba(208, 233, 205, 1);
}


.teams-style-2{
    background-color: rgba(182, 73, 89, 1);
}

.teams-style-3{
    background-color: rgba(0, 147, 206, 1);
}

.teams-style-4{
    background-color: rgba(255, 28, 28, 1);
}

.teams-style-5{
    background-color: rgba(213, 0, 31, 1);
}

.teams-style-6{
    background-color: rgba(180, 208, 231, 1);
}

.teams-style-7{
    background-color:  rgba(13, 36, 129, 1);
}

.teams-style-8{
    background-color: rgba(255, 216, 48, 1);
}

.teams-content{
    padding: 40px;
    aspect-ratio: 1.35;
    background-color: rgba(245, 245, 245, 1);
}

.teams-content>div{
    width: 10%;
    margin: 40px 0px;
    
}

.teams-content>p{
    margin-bottom: 40px;
    padding-right: 30px;
}


#teams-img{
    width: 150px;
}


.teams-footer{
    background-color:  rgba(180, 208, 231, 1);
    height: 100%;
}
 
 .teams-footer>.sm-container>span{
    background-color: white;
    padding: 10px 80px;
    position: absolute;
    top: 45%;
    right: 5%;
    transform:translateY(-50%);
 }

 .teams-footer>.sm-container>h2{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    color: rgba(97, 8, 43, 1);
 }

/* #endregion */

/* #region Asked Questions */

.questions{
    margin-bottom: 7rem;
}

.questions>h3{
    font-size: 1.7rem;
    margin-top: 7rem;
    margin-bottom: 3rem;
}

.accordion>span{
    display: block;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    font-weight: bold;
}

.accordion>span>i{
    float: right;
    margin-right: 1rem;
}

.accordion>hr{
    opacity: 0.3;
}

.accordion>p{
    display: none;
    background-color: var(--lightgray);
    padding: 30px 20px;    
    border-radius: 5px;
    
}

.accordion:hover p{
    display: block;
}

.accordion:hover #open-arrow{
    display: inherit;
}

.accordion:hover #closed-arrow{
    display: none;
}

#open-arrow{
    display: none;
}

/* #endregion */

/* Footer */

#site_footer{
    background-color: black;
}

#site_footer ul{
    list-style: none;
    color: white;
    margin-top: 6rem;
}

#site_footer a{
    text-decoration: none;
    color: white;
}

#site_footer ul>li:first-child{
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

#site_footer li{
    margin-bottom: 0.5rem;
}

#site_footer .col-100>div:first-child{
    width: 10%;
    opacity: 0.7;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.countries{
    margin-bottom: 3rem;
    opacity: 0.5;
}

#country{
    background-color: transparent;
    color: rgb(207, 207, 207, 1);
    border: none;
}

#country option{
    color: black;
}

.countries:hover{
    opacity: 1;
}